<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Editar</title>
</head>

<body>

    <h1>Editar</h1>
    <table>
        <tr>
            <td>id</td>
            <td>data da entrega</td>
            <td>nome</td>
            <td>registro</td>
            <td>especialidade</td>
            <td>privativo</td>
        </tr>

        <tr>
            <td>
                <%= editar[0].id_controle %>
            </td>
            <td>
                <%= editar[0].data_criacao %>
            </td>
            <td>
                <%= editar[0].nome %>
            </td>
            <td>
                <%= editar[0].registro %>
            </td>
            <td>
                <%= editar[0].especialidade %>
            </td>
            <td>
                <%= editar[0].privativo %>
            </td>
        </tr>

    </table>

</body>

</html>